#footer {
    font-size: 12px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
    color: #999999;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    .outer{
        padding: 0 30px;
    }
    a{
        color: #4094c7;
    }
    a:hover{
        text-decoration: underline;
    }
}
.footer-left{
  float: left;
}
.footer-right{
  float: right;
}